.showDown
  animation-duration 7s
  animation-name showDown
  opacity 0

@keyframes showDown
  from
    opacity 1

  to
    opacity 0



@keyframes popup-fade-in {
  0% {
    margin-top: 10px;
    opacity: 0.3;
  }
}