
@font-face
  font-family Weird
  src url("../../public/fonts/11050.ttf")
  font-weight normal
  font-style normal

@font-face
  font-family Montserrat
  src url("../../public/fonts/Montserrat-Regular.ttf")
  font-weight normal
  font-style normal