@import "pallete"

.search-form
  display: flex
  justify-content  space-between
  box-sizing border-box
  width inherit


.search-form_group
  width: 73%

.search-form_input
  width 100%
  border-radius 5px
  display block
  font 25px MyFont

.search-form_loader-wrap
  width: 4%;

.search-form_button-wrap
  width 25%

.search-form_button-wrap_button
  width: 84%
  border-radius: 5px
  background-color: $submit-button-color
  font 25px MyFont

.react-autocomplete-input
  font-size 25px !important