@import "pallete"

.search
  min-height 60px
  margin-left 5px

.search-form_hint
  float left
  margin-top 5px

.search-form
  display flex
  justify-content space-between
  box-sizing border-box
  width inherit

.search-form_group
  width 73%

.search-form_input
  width 100%
  border-radius 5px
  padding-left: 5px;
  display block
  font 25px MyFont

.search-form_loader-wrap
  width 4%
  margin-left 8px

.search-form_button-wrap
  width 25%

.search-form_button-wrap_button
  width 84%
  border-radius 5px
  background-color $submit-button-color
  font 24px MyFont
  margin-top 1px
  color white

.form-group
  margin 0
  padding 7px 0
  display flex

.form-group, .help
  text-align left
  margin-left: 15px;

.form-group .form-group_label
  display block
  margin-bottom 4px
  height auto
  min-width: 250px
  min-height 55px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.form-group .form-group_control
  height 26px
  width 240px
  box-sizing border-box
  font-size 18px
  border-radius 3px
  padding-left 5px
  background-color: #fcfcfc;
  border: solid 1px #bbb;

.form-group_field-loading
  display inline
  margin-left 10px
  margin-top 22px

.form-group_help
  color red
  line-height: 20px;
  font-style: italic;
  font-size: 15px;

.form-group_hint
  min-width: 200px;
  margin-left: 15px;
  line-height: 20px;
  margin-top: 10px;
  font-size: 15px;
  color: dimgray;

.react-date-picker__button__input input
  background-color $color-aside
  height 95%

.email-sender
  display flex
  margin-left 56px
  width 100%

.email-sender_button
  height 25px
  margin-top 7px
  margin-left 15px

.email-sender_input
  padding-left 3px

.email-sender_success
  margin-top: 7px;
  margin-left: 15px;
  color: red;