@import "pallete"

.header
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  height: 75px;
  text-align center
  line-height: 90px
  box-shadow -1px 1px 28px 5px  #b1b0bd
  background-color: $color-aside