.admin-login {
  width: 350px;
  margin: 275px auto 0;
  padding: 30px 20px 10px;
  box-shadow: 0 0 1px #000;
  background: #fff;
}

.admin-login_header {
  margin-bottom: 22px;
  text-align: center;
  font-size: 1.3em;
  color: #757575;
  img {
    background-color: #222;
    vertical-align: middle;
    margin: 0 2px;
    height: 25px;
  }
}

.admin-login-buttons {
  position: relative;
  overflow: hidden;
}

.-login-label
  width 115px !important

.-login-form
  margin-left -30px !important



