@import "pallete.styl"
@import "login.styl"
@import "loading.styl"

body
  font-size 14px
  margin 0
  box-sizing border-box


.main_wrap
  display flex
  margin 40px auto 0
  width 1280px
  justify-content space-between

.left-aside,
.right-aside
  width 400px
  height 600px
  min-width 350px
  background-color $color-grey
  border: 1px solid lightgrey