@import './animate'

.settings-item_transition-enter {
  opacity: 0.01;
}

.settings-item_transition-enter.settings-item_transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.settings-item_transition-leave {
  opacity: 1;
}

.settings-item_transition-leave.settings-item_transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.settings-item_content {
  border: 1px solid black
}

.settings-item_successMsgs
  @extend .showDown